* {
  box-sizing: border-box;
  margin: 0;
  color: #1d2e46;
  padding: 0;
}

body {
  background-image: url("big.PNG");
  background-position: center;
  background-size: contain;
}

/* Introduction Section */

#introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  height: 90vh;
}

#introduction img {
  width: 250px;
  height: 250px;
  border-radius: 500%;
  margin-bottom: 25px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.introduction__text {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  max-width: 550px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.introduction__text h2 {
  font-size: 45px;
}

.introduction__text p {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 15px;
}

/* Work Section */

#work {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.work__text h2 {
  font-size: 55px;
  margin: 25px 0;
  word-wrap: break-word;
}

.work__text p {
  max-width: 500px;
  font-weight: 500;
  margin-bottom: 50px;
  font-size: 18px;
  margin-left: 15px;
  margin-right: 15px;
}

.work__text button {
  padding: 15px 25px;
  border-radius: 15px;
  border: none;
  margin: 10px 30px;
  background-color: #879dbe0e;
  border: 1px solid white;
  transition: all 0.4s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.work__text button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* Work __ Projects Section */

.workAndProjects {
  margin-top: 20px;
  border: 1px solid rgba(221, 221, 221, 0.212);
  width: 80%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 500px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  flex-wrap: wrap;
}

.workAndProjects img {
  max-width: 200px;
  margin: 10px;
  max-height: 300px;
  border-radius: 4px;
}

.workAndProjects img:nth-last-of-type(1) {
  max-height: 200px;
}

.workAndProjects__text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 70%;
  font-weight: 500;
  margin-top: 50px;
}

.workAndProjects__text p {
  margin-bottom: 10px;
}

/* My future Section */

#myFuture {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.myFuture__text {
  width: 700px;
  text-align: center;
}

.myFuture__text h2 {
  font-size: 45px;
  margin-bottom: 25px;
}

.myFuture__text p {
  font-size: 20px;
  font-weight: 500;
  margin: 0 15px;
}

/* Contact */
#contact {
  text-align: center;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.contact__text h2 {
  font-size: 45px;
}

.contact__text h3 {
  font-size: 22px;
  margin: 3px;
}

.contact__text div {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 50px;
}
