* {
  box-sizing: border-box;
  margin: 0;
  color: #1d2e46;
  padding: 0;

}


@font-face {
  font-family: "Javanese Text";
  src: url("javanese-text.woff");
}

body {
  background-image: url("big.PNG");
  background-position: center;
  background-size: contain;
}

.fadeIn {
  display: none !important;

}

.fadeInAnimation {
  animation: fadeInScreen 3s;
}

@keyframes fadeInScreen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Begin Scherm */
.homepage {
  width: 100%;
  height: 100vh;
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;

  align-items: center;
  filter: brightness(1.2);
  flex-direction: column;
  position: relative;
}

.homepage__title {
  font-size: 190px;
  line-height: 140px;
  font-family: "Javanese Text";
  z-index: 99;
  color: #1d2e46;
  text-shadow: 3px 3px 2px rgb(47, 47, 47);
}

.homepage__title span {
  font-size: 110px;
}

@media (max-width: 881px) {
  .homepage__title {
    font-size: 150px;
    line-height: 100px;
  }

  .homepage__title span {
    font-size: 80px;
  }
}

@media (max-width: 670px) {
  .homepage__title {
    font-size: 100px;
    line-height: 100px;
  }

  .homepage__title span {
    font-size: 60px;
  }
}

@media (max-width: 454px) {
  .homepage__title {
    font-size: 70px;
    line-height: 60px;
  }

  .homepage__title span {
    font-size: 40px;
  }
}

.homepage__title::before {
  content: "";
  position: absolute;
  background-color: rgba(235, 235, 235, 0.157);
  z-index: -1;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
}

.homepage__upper {
  width: 70%;
  flex: 0.8;
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

.homepage__down {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0.2;

  width: 100%;
  padding: 0 25px;
}

.homepage__down a {
  text-decoration: none;
  color: black;
  font-family: "Javanese Text";
  max-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage__btn {
  background-color: #879dbe5e;
  border: 1px solid white;
  margin-right: 100px;
  z-index: 99;
  border-radius: 35px;
  cursor: pointer;
  padding: 15px 25px;
  max-height: 60px;
  width: 250px;
  transition: all 0.4s;
  font-size: 26px;

}

.homepage__btn:hover {
  transform: scale(1.05);
}

/* Introduction Section */

#introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  height: 70vh;
}

#introduction img {
  width: 250px;
  object-fit: contain;
  height: 250px;
  border-radius: 500%;
  margin-bottom: 50px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transform: rotate(270deg);
}

.introduction__text {
  display: flex;
  margin: 0 30px;

  flex-direction: column;
  max-width: 650px;


}

.introduction__text h2 {
  font-size: 45px;
  font-family: "Javanese Text";
  margin-bottom: -10px;
  font-weight: 200;

}

.introduction__text p {
  font-size: 18px;
  font-weight: 600;

  font-family: "Segoe UI";
  margin-bottom: 12px;
}

/* Work Section */

#work {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

@media (max-width: 710px) {
  #work {
    margin: 0 35px;
  }
}



.work__text {
  align-items: center;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 100%;
  max-width: 650px;

  display: flex;
  margin: 0 35px;
}

.work__text h2 {
  text-align: left;
  max-width: 650px;
  width: 100%;
  font-size: 45px;
  font-weight: 500;
  width: 100%;
}

.ervaring__text div {
  max-width: 250px;
  width: 100%;
  margin-right: 35px;

}

.work__text .ervaring__text {
  display: flex;
  max-width: 650px;
  flex-wrap: wrap;
  font-weight: 600;
  width: 100%;
  align-items: center;


}

.ervaring__text p {
  font-size: 18px;
  font-family: 'Segoe UI';
  margin-bottom: 20px;
}




/* My future Section */

#myFuture {
  width: 100%;
  text-align: left;
  margin-top: 150px;
  display: flex;
  align-items: center;

  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.myFuture__text {
  margin: 0 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%
}

.myFuture__text h2 {
  width: 100%;
  font-size: 45px;
  font-weight: 400;
  max-width: 670px;
  line-height: 60px;
  margin-bottom: 20px;
  font-family: "Javanese Text";
}

.myFuture__text p {
  font-size: 18px;
  font-weight: 500;
  max-width: 670px;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Contact */
#contact {
  text-align: left;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

.contact__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: left;
  margin: 0 35px;

}

.contact__text h2 {
  font-size: 45px;
  text-align: left;
  font-weight: 200;
  width: 100%;
  max-width: 670px;
}

.contact__text h3 {
  font-size: 18px;
  margin: 3px;
  font-weight: 500;
}

.contact__text div {
  width: 100%;
  max-width: 670px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;


}

/* Overige */

h2 {
  font-family: "Javanese Text";
}